@font-face{
    font-family: Montserrat;
    font-weight: normal;
    src: url("./Montserrat/Montserrat-Regular.woff"),
         url("./Montserrat/Montserrat-Regular.ttf");
}
@font-face{
    font-family: Montserrat;
    font-weight: bold;
    src: url("./Montserrat-SemiBold/Montserrat-SemiBold.woff"),
         url("./Montserrat-SemiBold/Montserrat-SemiBold.ttf");
}
