include ../../components/button_bg_white/index
include ../../components/button_bg_gradient/index
include ../../components/menu/index

mixin header(options)
    header.header 
        div.header__inner
            div.header__logo 
                img(src=require("shared/images/logo.svg").default)
            div.header__nav
                div.header__menu-outer
                    +menu({
                        items: [
                            {
                                title: "О нас",
                                href: "#"
                            },
                            {
                                title: "Услуги",
                                href: "#",
                                type: "list"
                            },
                            {
                                title: "Вакансии",
                                href: "#"
                            },
                            {
                                title: "Новости",
                                href: "#"
                            },
                            {
                                title: "Соглашения",
                                href: "#",
                                type: "list"
                            }
                        ]
                    })
                if options.isLoggedIn
                    div.header__name Cosmin Negoita
                else
                    div.header__button-outer.first
                        +buttonBgWhite({
                            title: "Войти"
                        })
                    div.header__button-outer 
                        +buttonBgGradient({
                            title: "Зарегистрироваться"
                        })