mixin socials()
    div.socials
        div.socials__image-outer
            img(src=require("shared/components/socials/twitter_socials.svg").default)
        div.socials__image-outer
            img(src=require("shared/components/socials/facebook_socials.svg").default)
        div.socials__image-outer
            img(src=require("shared/components/socials/instagram_socials.svg").default)