include ../../components/socials/index 

mixin minFooter()
    footer.min-footer 
        div.min-footer__inner
            div.min-footer__logo-outer
                img(src=require("shared/images/logo.svg").default)
            div.min-footer__text
                span.min-footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            +socials()