$dark-100: rgba(31, 32, 65, 1);
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-05: rgba(31, 32, 65, 0.05);
$purple: rgb(188, 156, 255);
$green: rgb(111, 207, 151);



$small-desktop: 1200px;
$tablet-size: 920px;
$medium-tablet: 820px;
$small-tablet: 768px;
$smartphone: 550px;