@import "../vars.scss";

h1, h2 {
    font-family: "Open Sans";
    font-weight: bold;
}

h1, h2, h3 {
    color: $dark-100;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.71px;
}

h2 {
    font-size: 19px;
    line-height: 24px;
}

h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

body {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    color: $dark-75;
    margin: 0;
    padding: 0;
}