include ../../components/socials/index
include ../../components/menu/index
include ../../components/standart-input/index

mixin footer(options)
    footer.footer
        div.footer__upper
            div.footer__inner
                div.footer__info 
                    div.footer__logo 
                        img(src=require("shared/images/logo.svg").default)
                    span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                div.footer__col 
                    h3.footer__title навигация 
                    +menu({
                        isVertical: true,
                        items: [
                            {
                                title: "О нас",
                                href: "#"
                            },
                            {
                                title: "Новости",
                                href: "#"
                            },
                            {
                                title: "Служба поддержки",
                                href: "#"
                            },
                            {
                                title: "Услуги",
                                href: "#"
                            }
                        ]
                    })
                div.footer__col 
                    h3.footer__title о нас 
                    +menu({
                        isVertical: true,
                        items: [
                            {
                                title: "О сервисе",
                                href: "#"
                            },
                            {
                                title: "Наша команда",
                                href: "#"
                            },
                            {
                                title: "Вакансии",
                                href: "#"
                            },
                            {
                                title: "Инвесторы",
                                href: "#"
                            }
                        ]
                    })
                div.footer__col 
                    h3.footer__title Служба поддержки 
                    +menu({
                        isVertical: true,
                        items: [
                            {
                                title: "Соглашения",
                                href: "#"
                            },
                            {
                                title: "Сообщества",
                                href: "#"
                            },
                            {
                                title: "Связь с нами",
                                href: "#"
                            }
                        ]
                    })
                div.footer__subscribe 
                    h3.footer__title Подписка
                    span.footer__text Получайте специальные предложения и новости сервиса
                    +standartInput({
                        withArrow: true,
                        placeholder: "Your email address"
                    })
        div.footer__lower
            span.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
            +socials({})