@import "../../vars.scss";

.menu{
    display: flex;

    &__item{
        display: block;
        text-decoration: none;
        color: $dark-50;
        margin-right: 30px;
        &.list{
            margin-right: 20px;
            padding-right: 20px;
            position: relative;
            &::after{
                content: "";
                width: 7px;
                height: 7px;
                border-left: 1px solid $dark-50;
                border-bottom: 1px solid $dark-50;
                position: absolute;
                transform: rotate(-45deg);
                right: 6px;
                top: 7px;
            }
        }
        &.active{
            font-weight: bold;
            color: $dark-75;
        }
    }
}