@import "../../vars.scss";

.toggle-button{
    padding-left: 50px;
    padding-right: 10px;
    position: relative;

    &__input{
        display: none;
    }
    &__title{
        color: $dark-75;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 38px;
            height: 18px;
            border: 1px solid $dark-25;
            border-radius: 10px;
            transition-duration: 0.1s;
        }
        &::after{
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            background: $dark-25;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transition-duration: 0.1s;
        }
    }
    &__input:checked + &__title{
        &::before{
            border-color: $purple;
        }
        &::after{
            left: 24px;
            background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
        }
    }
}