@import "../../vars.scss";

.button_arrow{
    display: block;
    width: 100%;
    max-width: 320px;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 40px 14px 40px;
    color: white;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    border: none;
    border-radius: 22px;

    position: relative;
    cursor: pointer;

    outline: none;

    &::-moz-focus-inner{
        border: 0;
    }

    &::after{
        content: "";
        width: 40px;
        height: 40px;
        background: url(./arrow.svg) no-repeat 50% 50%;
        position: absolute;
        top: 2px;
        right: 2px;
    }
}