@import "../../vars.scss";

.search-form{
    width: 100%;
    max-width: 380px;
    padding: 40px 30px 30px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: white;

    &__row{
        display: flex;
        justify-content: space-between;
        padding: 15px 0px 5px;
    }

    
    &__hand{
        display: inline-block;
    }

    &__title{
        padding-bottom: 2px;
    }

    &__drop-outer{
        padding-top: 10px;
    }

    &__button-outer{
        padding-top: 30px;
    }
}