include ../../components/small-filter-date/index 
include ../../components/button_arrow/index

mixin searchForm(options)
    div.search-form.js-search-form
        h1 Найдём номера под ваши пожелания
        div.search-form__row
            div.search-form__hand
                h3.search-form__title Прибытие
                +smallFilterDate({
                    class: "js-calendar-from"
                })
            div.search-form__hand
                h3.search-form__title Выезд
                +smallFilterDate({
                    class: "js-calendar-to"
                })
        div.js-calendar
        div.search-form__drop-outer 
            h3.search-form__title Гости
            div.search-form__dropdown.js-dropdown
        div.search-form__button-outer
            +buttonArrow({
                title: "Подобрать номер"
            })