mixin advantage(options)
    div.advantage
        div.advantage__left-hand
            img(src=options.src).advantage__img
        div.advantage__right-hand
            span.advantage__title=options.title
            span.advantage__text=options.text