@import "../../vars.scss";

.button_plain{
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    color: $purple;
    border: none;
    padding: none;
    background: none;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &:hover{
        color: $dark-50;
    }
    &::-moz-focus-inner{
        border: 0;
    }

}